.MainTicketContainer{
    background-color:cornsilk;
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 10px;
}

.Description{
    background: #026ED2;
    color: white;
    width: 70%;
    border-radius: 5px;
    font-size: large;

}

.Amount{
    background: #026ED2;
    color: white;
    width: 25%;
    border-radius: 5px;
    font-size: large;
}
